<div class="container my-5">
  <div class="row pl-5">
      <h4>商品詳細</h4>
  </div>

  <div class = "row mt-4 justify-content-center">
      <div class = "col-sm-3">
        <%= attachment_image_tag @item, :image, size: "250x250", format: 'jpeg' %>
      </div>

      <div class = "col-sm-5">
          <table class="table table-borderless">
              <tbody>
                  <tr>
                    <td>商品名</td>
                    <td><%= @item.name %></td>
                  </tr>

                  <tr>
                    <td>商品説明</td>
                    <td><%= @item.detail %></td>
                  </tr>

                  <tr>
                    <td>ジャンル</td>
                    <td><%= @item.genre.name %></td>
                  </tr>

                  <tr>
                    <td>税込価格</br>(税抜価格)</td>
                    <!--税込と税抜が逆になってる-->
                    <td><%= @item.price %>（<%= (@item.price * 1.1).floor %>）円</td>
                  </tr>
                       <!-- カートに入れるボタン -->
                        <%#= form_with model:@cart_item, url:public_cart_item_path(@cart_item.id), local:true do |f| %>
                  <% if @item.is_active == true %>
                  <tr>
                    <td class="col-3">販売ステータス</td>
                    <td class="col-3 fs-5 fw-bold" style="color:green">販売中</td>
                  </tr>
                  <% elsif @item.is_active == false %>
                  <tr>
                    <td class="col-3">販売ステータス</td>
                    <td class="col-3 fs-5" style="color:gray">販売停止中</td>
                  </tr>
                  <% end %>
                  <tr>
                  <th class=botann colspan="2"><%= link_to "編集する", edit_admin_item_path(@item),class:"btn btn-success"%></th>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<!--<h2>商品詳細</h2>-->
<!--<%#= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>-->

<!--<h3>商品名</h3>-->

<!--<table>-->

<!--<tr>-->
<!-- <td><%#= @item.name %></td>-->
<!-- <td><%#= @item.detail %></td>-->
<!-- <td><%#= @item.genre.name %></td>-->
<!-- <td><%#= @item.price %></td>-->
<!-- <td><%#= @item.is_active %></td>-->
<!-- <td><%#= link_to "edit", edit_admin_item_path %></td>-->
<!--</tr>-->
<!--</table>-->


