<div class="container my-5">
  <div class="row pl-5">
      <h4>
        <%= @customer.last_name %>
        <%= @customer.first_name %>
        さんの会員情報編集
      </h4>
  </div>

  <%= form_with model:@customer,url: admin_customer_path(@customer), local:true do |f|%>
      <div class="row justify-content-center mt-5">
        <div class="col-sm-6">

          <div class="form-group row">
            <%= f.label :会員ID, class: "col-sm-4" %>
            <%= @customer.id %>
          </div>

          <div class="form-group row">
            <%= f.label :氏名, class: "col-sm-4" %>
            <%= f.text_field :last_name, class: "form-control col-sm-4" %>
            <%= f.text_field :first_name, class: "form-control col-sm-4" %>
          </div>

          <div class="form-group row">
          <%= f.label :フリガナ, class: "col-sm-4" %>
          <%= f.text_field :kana_last_name, class: "form-control col-sm-4" %>
          <%= f.text_field :kana_fast_name, class: "form-control col-sm-4" %>
        </div>

        <div class="form-group row">
          <%= f.label :郵便番号, class: "col-sm-4" %>
          <%= f.text_field :postal_code, class: "form-control col-sm-8" %>
        </div>

        <div class="form-group row">
          <%= f.label :住所, class: "col-sm-4" %>
          <%= f.text_field :address, class: "form-control col-sm-8" %>
        </div>

        <div class="form-group row">
          <%= f.label :電話番号, class: "col-sm-4" %>
          <%= f.text_field :telephone_number, class: "form-control col-sm-8" %>
        </div>

        <div class="form-group row">
          <%= f.label :メールアドレス, class: "col-sm-4" %>
          <%= f.text_field :email, class: "form-control col-sm-8" %>
        </div>

        <div class="form-group row">
          
          <div class="col-3"></div>
           <div class="col-2 fs-5">
          <div  class="col-1">
           <%= f.radio_button :is_active, "退会",checked: true %>
           <%= f.label :is_active, "退会", value: :true %></div>
        </div>
          <div  class="field">
           <%= f.radio_button :is_active, :false %>
           <%= f.label :is_active, "有効",value: :false %>
          </div>

         <div class="row justify-content-center mt-5">
          <div class="col-sm-3">
            <%= f.submit :変更を保存, class: "btn btn-success" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
