<%= form_with model: @address, url: customer_registration_path, local: true do |f| %>

  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :telephone_number, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.text_field :postal_code, autofocus: true %>
  </div>
  <div><%= f.submit 'Update address' %></div>
  <% end %>